.name {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sticky {
    position: sticky;
    top: 0;
}

button {
    background-color: #1b1b1b;
    color: white;
    border: white 1px solid;
    padding: 7px 15px;
    border-radius: 100px;
    width: fit-content;
}

button:hover {
    background-color: white;
    color: #1b1b1b;
}
